body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-color: aliceblue;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 1em;
}

.jumbotron {
  text-align: center;
  color: black;
  border-bottom: 2px solid black;
}

.time-block {
  text-align: center;
  border-radius: 5px;
}

.row {
  margin-bottom: .5em;
  height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.hour {
  background-color: rgb(162, 201, 236);
  padding-top: 1em;
  border-radius: 5px 0 0 5px;
  color: #000000;
  width:20%;
  height:100%;

}

.past {
  background-color: #d3d3d3;
  color: rgb(39, 37, 37);
}

.present {
  background-color: #b1eeb1;
  color: white;
}

.future {
  background-color: #c7f4fc;
  color: white;
}

.saveBtn,
.delBtn {
  border: none;
  color: rgb(5, 5, 5);
  width:15%;
  height:100%;
  
}

.saveBtn{
  background-color: #41cceb;
}

.delBtn{
  background-color: #f4524a;
  border-radius: 0 5px 5px 0;
}

.saveBtn:hover,
.delBtn:hover {
  opacity: .7;
}
